@import "tailwindcss";
@plugin "@tailwindcss/forms";

@source "../index.html";

@theme {
  --color-cyan-50: oklch(0.984 0.019 200.873);
  --color-cyan-100: oklch(0.956 0.045 203.388);
  --color-cyan-200: oklch(0.901 0.076 205.144);
  --color-cyan-300: oklch(0.828 0.111 205.84);
  --color-cyan-400: oklch(0.728 0.132 205.364);
  --color-cyan-500: oklch(0.623 0.114 205.483);
  --color-cyan-600: oklch(0.52 0.105 209.446);
  --color-cyan-700: oklch(0.437 0.091 210.149);
  --color-cyan-800: oklch(0.371 0.078 210.128);
  --color-cyan-900: oklch(0.326 0.063 210.075);
  --color-cyan-950: oklch(0.235 0.048 211.264);
}
